@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Background color */
    --bg-color-1: #111111;
    --bg-color-2: #6A696C;
    --bg-color-3: #C1C1BF;
    --bg-color-4: #C4C2BF;
    --bg-color-5: #FFFFFF;

    /* text colors */
    --text-color-1: #111111;
    --text-color-2: #6A696C;
    --text-color-3: #C1C1BF;
    --text-color-4: #C4C2BF;
    --text-color-5: #FFFFFF;

    /* google fonts */

    --font-famly-1: Open Sans;
    --font-famly-2: Nunito;
    --font-famly-3: Satisfy;
}


/* head section */


.head-blog{
    width: 100%;
    height: auto;
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-color-5);
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1{
    font-size: 40px;
    font-family: var(--font-famly-3);
    color: var(--text-color-5);
    font-weight: 500;
}

.logo .bx{
    font-size: 40px;
    color: var(--text-color-5);
}

.head-elements{
    position: relative;
    height: 100%;
}

.head-elements ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.head-elements ul a{
    text-decoration: none;
    font-size: 23px;
    color: var(--text-color-5);
    position: relative;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head-elements ul a::before{
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid var(--bg-color-5);
    width: 0%;
    transition: 0.3s ease;
}

.head-elements ul a:hover::before{
    width: 100%;
}

.home{
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.home-l{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-l p{
    font-size: 20px;
    color: var(--text-color-4);
    font-family: var(--font-famly-1);
}

.home-l h1{
    font-size: 50px;
    color: var(--text-color-5);
    font-family: var(--font-famly-1);
    font-weight: 700;
}

.home-l h2{
    font-size: 25px;
    font-family: var(--font-famly-1);
    color: var(--text-color-5);
    font-weight: 400;
}

.home-l-btn{
    width: 260px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: none;
    border: 2px solid var(--bg-color-5);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home-l-btn a{
    font-size: 30px;
    position: relative;
    z-index: 2;
    color: var(--text-color-5);
    font-weight: 400;
    transition: 0.3s ease;
    text-decoration: none;
}

.home-l-btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-5);
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 30px;
    transform: translateX(-100%);
    transition: 0.4s ease;
}

.home-l-btn:hover::before{
    transform: translateX(10%);
}

.home-l-btn:hover.home-l-btn a{
    color: var(--text-color-1);
}

.home-r{
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.home-r img{
    width: 70%;
    object-fit: cover;
    animation: animted-card 5s infinite;
    filter: drop-shadow(1px 1px 5px white);
}

@keyframes animted-card{
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(40deg);
        transform: translateY(-50px);
    }100%{
        transform: rotate(0deg);
    }
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section{
    width: 90%;
    max-width: 1400px;
    display: flex;
}

.about, .costums{
    width: 100%;
    display: flex;  
    gap: 20px;
}

.about-l, .costums-l{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--text-color-1);
    font-family: var(--font-famly-1);
    flex: 1;
    justify-content: center;
}

.about-r, .costums-r{
    flex: 1.2;
    background-color: var(--bg-color-1);
    height: 600px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0 0 0 150px;
}

.costums-l{
    flex: 1.2;
}
.costums-r{
    flex: 0.9;
}

.about-r img {
    transform: scale(1.5);
}

.costums-l-main{
    display: flex;
    gap: 20px;
}

.costums-l-main p{
    display: flex;
    align-items: center;
}

.costums-l img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.costums-r {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: var(--text-color-5);
    font-family: var(--font-famly-1);
    gap: 20px;
}
